@import 'sass/global';
@import 'sass/mixins';
@import 'sass/network';
@import 'sass/util';
@import 'sass/variables';

body {
  background-color: $background-color;
  color: $text-color;
  font-family: sans-serif;
  margin: 0;
}

.container {

  @include desktop {
    margin: auto;
    max-width: $desktop-min-width;
  }

  @include mobile {
    margin: 0 20px;
  }
}
