@import 'variables';

.input {
  border: 1px solid $foreground-color;
  padding: $padding-controls;

  &:focus {
    border-color: $foreground-highlight-color;
    outline: 1px solid $foreground-highlight-color;
  }
}
