// Variable definitions to help ensure consistency

// Colors
$foreground-color:           #825d2c;
$background-color:           #f2cf9f;
$foreground-highlight-color: #997341;
$background-highlight-color: #ffeed8;

// Dimensions
$desktop-min-width:          800px;
