@import '../sass/variables';

.Header {
  background-color: $foreground-color;
  border-bottom: 8px solid $foreground-highlight-color;
  color: $background-color;
  margin-bottom: 24px;
  padding: 8px 0;

  h1 {
    font-weight: normal;
    margin: 0;
  }
}
